<a href="https://www.viharatech.com"><img src="https://miro.medium.com/v2/resize:fit:828/format:webp/1*on2Bpj6A5gfd-CzaFOAZRA.jpeg"></a>

# Dictionary

In [ ]:
## dictionary

a = {1,2,3,4}  # set
print(a)
print(type(a))

b = {'name' : 'kamal' , 'age': 24} # key and value concept
print(b)
print(type(b))

{1, 2, 3, 4}
<class 'set'>
{'name': 'kamal', 'age': 24}
<class 'dict'>

In [ ]:
## Dictionary (uses)

# 1) Data handling
# 2) Data manipulation
# 3) Data cleaning


## Entire Data science we are going deal with the data
## 1) for Dealing data we are going to use most important technique = Dictionary second power full
## 2) Pandas is very power fulll

In [ ]:
pow(3,3,5) # 3 * 3 * 3 = 27 , 27 % 5 = 2

2

In [1]:
## without  list comprehension

even = []
odd = []

for i in range(1,11): # i  = 1 to 10
    if i % 2 == 0:
        even.append(i ** 2)
    else:
        odd.append(i ** 3)
print("Even vaues = " , even)

print("Odd values = " , odd)

Even vaues =  [4, 16, 36, 64, 100]
Odd values =  [1, 27, 125, 343, 729]

In [2]:
# with list comprehension
a = [i ** 2 if i % 2 == 0 else i ** 3 for i in range(1,11)]
print(a)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [ ]:
a = {'name' : 'kamal' , 'age' : 24} # dictionary
for i in a.keys():
    print('Keys of the dictionary = ' , i)
for j in a.values():
    print("values of the dictionary = " , j)
for i , j in a.items():
    print('Keys = ' , i)
    print("values = " , j)

Keys of the dictionary =  name
Keys of the dictionary =  age
values of the dictionary =  kamal
values of the dictionary =  24
Keys =  name
values =  kamal
Keys =  age
values =  24

In [ ]:
a = []
for i in range(21 , 31):
    a.append(i)
print(a)

[21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
# empty dicitonary
a = {}

a['name'] = 'kamal'
a['age'] = 24
print('Empty dictionary converted to = ' , a)
for i , j in a.items():
    print('Keys = ' , i)
    print("values = " , j)

Empty dictionary converted to =  {'name': 'kamal', 'age': 24}
Keys =  name
values =  kamal
Keys =  age
values =  24

In [ ]:
## i need my output like = {1 : 1 , 2 : 8 , 3 : 27}
## with out dictionary comprehesion
a = {}
# a = {1 : 1 , 2:8 , 3 : 27}
for i in range(1,4):  # i == 1  ,2 , 3
    a[i] = i ** 3
print(a)

{1: 1, 2: 8, 3: 27}

In [ ]:
##  with comprehension

a = {i:i**2 for i in range(1,4)} # i  =1,2,3
print(a)

{1: 1, 2: 8, 3: 27}

In [ ]:
cubes = {}

for num in range(1, 11):
    cubes[num] = num**3

print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [ ]:
a = {i: i**3 for i in range(1,11)}
print(a)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [ ]:
cubes = {num: num**3 for num in range(1, 11)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [ ]:
#new_dictionary = {key: value for_loop}
fruits = {'mango': 40, 'banana': 10, 'cherry': 20}
new_fruits = {}
# new_fruits = {'mango' : 80 , }
for i, j in fruits.items():
    new_fruits[i] = j * 2

print(new_fruits)

{'mango': 80, 'banana': 20, 'cherry': 40}

In [ ]:
fruits = {'mango': 40, 'banana': 10, 'cherry': 20}
new_fruits = {i: j*2 for (i, j) in fruits.items()} # i = keys j = values
print(new_fruits)

{'mango': 80, 'banana': 20, 'cherry': 40}

In [ ]:
#new_dictionary = {key: value for_loop if condition}

In [ ]:
fruits = {'mango': 40, 'banana': 10, 'cherry': 20}
new_fruits = {i: j*2 for (i,j) in fruits.items() if j > 10}
print(new_fruits)

{'mango': 80, 'cherry': 40}

In [ ]:
#new_list = {key: value for_loop if condition}
#new_list = {key: (value1 if condition else value2) for_loop} milli seconds
result = {"ashu": 45, "mahesh": 70, "ashwini": 32, "asha": 65}
new_result = {}

for name, marks in result.items():
    if marks >= 40:
        new_result[name] = "Pass"
    else:
        new_result[name] = "Fail"

print(new_result)

{'ashu': 'Pass', 'mahesh': 'Pass', 'ashwini': 'Fail', 'asha': 'Pass'}

In [ ]:
result = {"ashu": 45, "Mark": 70, "ashwini": 32, "asha": 65} # nano seconds
new_result = {name: ("Pass" if marks >= 40 else "Fail") for (name, marks) in result.items()}
print(new_result)

{'ashu': 'Pass', 'Mark': 'Pass', 'ashwini': 'Fail', 'asha': 'Pass'}

In [ ]:
## time complexity = time taken for execution of a cell

a = {'dhoni':10,'k':13 , 'p':100}

for i in a.items():
    print(i)

('dhoni', 12)
('k', 13)
('p', 100)